# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.bak

# Shapefiles
*.lock
*.cpg

# Temporary microsoft files
~$*

# PyCharm
.idea

# Common Data
common

# Example folders/files
example/calibration
example/gis/ETCells*
example/gis/cdl
example/gis/scratch
example/gis/soils
example/gis/zone_tables
example/static
example/annual_stats
example/daily_stats
example/monthly_stats
example/growing_season_stats

