# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
.cache
.coverage

# Shapefiles
*.lock
*.cpg

# Temporary microsoft files
~$*

# PyCharm
.idea

# Miscellaneous files
*.bak

# Common Data
common

# Example folders/files
example/calibration
example/gis/ETCells*
example/gis/cdl
example/gis/scratch
example/gis/soils
example/gis/zone_tables
example/static
example/annual_stats
example/daily_stats
example/monthly_stats
example/growing_season_stats
annual_out_met/CA9053FilledMetData.csv
annual_ret/CA9053_KL_S0_RET.csv
daily_out_met/CA9053FilledMetData.csv
daily_ret/CA9053_KL_S0_RET.csv
monthly_out_met/CA9053FilledMetData.csv
monthly_ret/CA9053_KL_S0_RET.csv
annual_ret/%s_KL_S0_RET.csv
daily_ret/%s_KL_S0_RET.csv
daily_ret/CA9053_KL_S0_RET-base.csv
monthly_ret/%s_KL_S0_RET.csv
