# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
.cache
.coverage

# Shapefiles
*.lock
*.cpg

# Temporary microsoft files
~$*

# PyCharm
.idea

# Miscellaneous files
*.bak

# Common Data
common
venv

# Example folders/files
example/calibration
example/gis/ETCells*
example/gis/cdl
example/gis/scratch
example/gis/soils
example/gis/zone_tables
example/static
example/annual_stats
example/daily_stats
example/monthly_stats
example/growing_season_stats
et-demands/tools/__init__.py
et-demands/tools/legacy_scripts/__init__.py
et-demands/__init__.py
